In [1]:
import numpy as np
import pandas as pd
import csv
import mysql.connector
from sqlalchemy import create_engine

lecture csv

In [2]:
tablecsv = r'C:\Users\alaja\simplon_datai_2025\2\Produits - Feuille 1.csv'
articles = pd.read_csv(tablecsv)

formatage pour table famille

In [4]:
 famart = articles["FAMILLE ARTICLE"]
 e = famart.drop_duplicates().to_list()
famille_d=dict((famillefinal, i+1) for i,famillefinal in enumerate(e))

famille_final = [f"{famille_d}" for famille_d in famille_d.items()]

resultat_final = ', '.join(famille_final)
resultat_final

"('HUILES', 1), ('FROMAGES', 2), ('CREMERIE', 3), ('LAIT', 4), ('BEURRE ET MARGARINE', 5), ('CHARCUTERIE', 6), ('OEUFS ET DERIVES', 7), ('SAUCES ET CONDIMENTS', 8), ('FONDS ET SAUCES DESHYDRATES', 9), ('OLIVES', 10), ('CONSERVES LEGUMES ET PLATS PREPARES', 11), ('CONSERVES DE FRUITS', 12), ('FRUITS SECS', 13), ('CONFITURE - MIEL', 14), ('PRODUITS DE  PATISSERIE', 15), ('PRODUITS DE LA MER', 16), ('PATES ET AUTRES FECULENTS', 17), ('FARINE', 18), ('SUCRE', 19), ('CONFISERIE', 20), ('LEVURES', 21), ('VIANDE', 22), ('BISCOTTES ET DERIVES BISCUITS', 23), ('EPICES ET AROMATES', 24), ('CAFE THE CHOCOLAT', 25), ('BOISSONS DIVERSES', 26), ('ALCOOLS CHAMPAGNE MOUSSEUX VINS', 27), ('PRODUITS HYGIENE ET ENTRETIEN', 28), ('JETABLE', 29), ('SURGELES', 30)"

inserer data dans table famille

In [47]:
#inserer data dans table famille_articles_id
import mysql.connector
db = mysql.connector.connect(
  host = "localhost",
  user = "root",
  password = "root",
  database = "articles_db"
)
cur = db.cursor()
sql = f"INSERT INTO famille (FAMILLE, id) VALUES {resultat_final}"
cur.execute(sql)
db.commit()

formatage pour table conditionnement

In [6]:
cond = articles["CONDITION"]
g = cond.drop_duplicates().to_list()
cond_d=dict((cond_final, i+1) for i,cond_final in enumerate(g))

cond_final = [f"{cond_d}" for cond_d in cond_d.items()]

cond_final = ', '.join(cond_final)
cond_final

"('BIDON', 1), ('BOUTE', 2), ('FLACO', 3), ('SPRAY', 4), ('CARTO', 5), ('KG', 6), ('SAC', 7), ('PIECE', 8), ('SACHE', 9), ('BARQU', 10), ('BOITE', 11), ('UNI', 12), ('POT', 13), ('CAISS', 14), ('PAQUE', 15), ('BAC', 16), ('SEAU', 17), ('PACK', 18), ('BRICK', 19), ('PINGO', 20), ('SQUEE', 21), ('TUBE', 22), ('FARDE', 23), ('BOCAL', 24), ('POCHE', 25), ('BRK', 26), ('TUBO', 27), ('ETUI', 28), ('LOT', 29), ('COLIS', 30), ('PLATE', 31), ('BIB', 32)"

inserer data dans table conditionnement

In [50]:
#inserer data dans table condition_id
import mysql.connector
db = mysql.connector.connect(
  host = "localhost",
  user = "root",
  password = "root",
  database = "articles_db"
)
cur = db.cursor()
sql1 = f"INSERT INTO conditionnement (conditionnement, id) VALUES {cond_final}"
cur.execute(sql1)
db.commit()

formatage pour la table famille

In [7]:
articles['PU HT'] = articles['PU HT'].str.replace(',', '.')
articles['FAMILLE ARTICLE'] = articles['FAMILLE ARTICLE'].factorize()[0] + 1
articles['CONDITION'] = articles['CONDITION'].factorize()[0] + 1

# Nouveaux noms de colonnes
newcolonnes = ['Code_article', 'Libelle', 'Famille_ID', 'Conditionnement_ID', 'PU_HT']
articles.columns = newcolonnes
articles

,Code_article,Libelle,Famille_ID,Conditionnement_ID,PU_HT
0,1010,HUILE ARACHIDE 25 L,1,1,60.71
1,1011,HUILE ARACHIDE 5 L,1,1,14.33
2,1012,HUILE ARACHIDE 1 L,1,2,2.87
3,1014,HUILE MEZZO 1 L (50%OLIVE50%TOURNESOL),1,2,2.67
4,1015,HUILE COLZA 5 L,1,1,7.57
...,...,...,...,...,...
1858,35885,QUICHES LORRAINE 180G X14,30,5,17.50
1859,35900,FARCIS NICOIS SG - SAC 2KG,30,5,51.52
1860,35920,RAVIOLIS A LA NICOISE SG 2KG,30,7,40.90
1861,37718,COOKIES CHOCOLAT SG 76G X30,30,5,29.65
1862,37720,COOKIES 3 CHOC LAIT EMB.INDIV.106GX30 SG,30,5,32.75

inserer data dans table principale

In [52]:
# ParamÃ¨tres de connexion MySQL
host = 'localhost'
user = 'root'
password = 'root'
database = 'articles_db'

conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

nom_de_votre_table = 'principale'

engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')
articles.to_sql(nom_de_votre_table, con=engine, if_exists='replace', index=False)
conn.close()

1863